# Ignore all node_modules directories
node_modules/

# Ignore Electron-specific files
/dist/
/build/
/out/

# Ignore temporary files and editor-specific files
*.log
*.swp
*.swo
*.swx
*.tmp
.DS_Store
Thumbs.db

# Ignore build artifacts
*.dSYM
*.so
*.dll
*.exe
*.node

# Ignore editor-specific files
*.sublime-workspace
.vscode/*